{% load crispy_forms_tags %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear Registro</title>
</head>
<body>
    {% include 'nav_bar.html' %}
    <form method="post" onsubmit="return CargarMensaje();">
        <div class="container">
            <h4>Crear un Registro</h4>
            <hr/>
            <text >{% crispy form %}</text>
        </div>
    </form>
</body>
</html>


<script type="text/javascript" >
    function CargarMensaje(){
        alert("Se ha creado el registro correctamente");
    }
</script>


